{% extends "base.html" %}
{% load thumbnail %}
{% load admin_tags %}

{% block content %}
<section class="section">
   <div class="container">
      <header class="section-header">
         <h2>Referensi Kuliner Banyuwangi <a href="#">#1</a></h2>
         <hr>
         <div class="col-12 col-md-8 offset-md-2">
            <p>
            <form class="form-round py-30" method="get" action="{% url 'search' %}">
               <div class="input-group">
                  <input type="text" name="q" {% if keyword %}value="{{keyword}}" {% endif %}class="form-control form-control-lg" placeholder="Masukan Kuliner...">
                  <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Cari</button>
                  </span>
               </div>
            </form>
            </p>
         </div>
          {% if object_list|length >= 1 %}
          <p class="lead" style="font-size:20px">Ditemukan <b>{{counting}}</b> Kuliner dari hasil pencarian kata kunci <i><b>{{keyword}}</b></i></p>
          {% else %}
             <p class="lead" style="font-size:20px">Tidak ditemukan hasil pencarian dengan kata kunci <i><b>{{keyword}}</b></i></p>
          {% endif %}
      </header>
      {% if object_list %}
      <div>
         <div class="text-center gap-multiline-items-2">
            <button class="btn btn-w-md btn-outline btn-round btn-info btn-act-search {% if terbaru %}active{% endif %}" keyword="{{keyword}}">terbaru</button>
            <button class="btn btn-w-md btn-outline btn-round btn-info btn-act-search {% if rating %}active{% endif %}" keyword="{{keyword}}">rating</button>
            <button class="btn btn-w-md btn-outline btn-round btn-info btn-act-search {% if popular %}active{% endif %}" keyword="{{keyword}}">populer</button>
         </div>
         
         <br><br>
         <div class="row gap-y text-center postwrapper">
            {% for i in object_list %}
            <div class="col-12 col-md-6 col-lg-4 portfolio-2">
               <p><a href="{% url 'detail' i.slug %}" data-href="{% thumbnail i.photo '600x437' crop="center" as im %}{{im.url}}{% endthumbnail %}" class="progressive replace"><img src="{% thumbnail i.photo '32x32' crop="center" as im %}{{im.url}}{% endthumbnail %}" class="preview" alt="Hobimakan.banyuwangi Photo {{i.name}}"></a></p>
               <p><strong>{{i.name}}</strong><br>
                  {% if i.byratings >= 2 %}
                  <span><i class="fa fa-star"></i>
                  </span> <small>{{i.byratings|remove_zero}}</small>&nbsp;&nbsp;
                  {% endif %}
                  <span style="width: 20px;height: 20px;"><i class="fa fa-comments-o"></i>
                  </span> <small>{{i.cmcount}}</small>&nbsp;&nbsp;
                  <span><i class="fa fa-heart-o"></i>
                  </span> <small>{{i.likecount}}</small>
               </p>
            </div>
            {% endfor %}
         </div>
      </div>
      <br><br><br>
      <div class="text-center">
         <div class="loadmoreajaxloader" style="display:none;">
            <center><img src="/static/AjaxLoader.gif" /></center>
         </div>
         <div id="hsbutn">
            <a href="javascript:void(0)" class="btn btn-warning btn-round btn-default" id="historyBtn">Tampilkan Lainnya</a>    
         </div>
      </div>
      {% endif %}
   </div>
</section>
{% endblock %}
