{% extends "base.html" %}
{% load thumbnail %}
{% load admin_tags %}

{% block css %}
<link rel="stylesheet" href="/static/opt/minimal-sekitar.min.css">
<link href="/static/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">
<style>
   #map_home {
   width: 100%;
   height:550px;
   border-top: 1px solid #ededed;
   }
</style>
{% endblock %}
{% block content %}
<section class="section">
   <div class="container h-overflow">
      
      <div>

         
     <header class="section-header">
          <h2>Temukan kuliner di sekitar kamu!</h2></div>
             <div id="map_home"></div><br/>
<p class="lead">* Klik pada icon sendok dan garpu untuk melihat detail kuliner yang ada sekitar kamu.<br>
* Klick dan tahan Pin Merah untuk memindahkan posisi kamu.<br>
* Terima/Accept dialog sharing lokasi untuk menggunakan fitur ini.<br>
* Gunakan dua jari untuk menggeser map ke kiri, kanan, atas dan bawah.</p>

      </div>
   </div>
</section>
<section class="section">
   <div class="container h-overflow">
      <header class="section-header">
         <small></small>
         <h2>Jauh Lebih Mudah</h2>
         <hr>
         <p class="lead">Website yang memudahkan kamu untuk mendapatkan informasi & melakukan aktifitas kuliner di kota Banyuwangi.</p>
      </header>
      <div class="row gap-y">
         <div class="col-12 col-md-6 col-xl-4 feature-1">
            <p class="feature-icon text-warning"><i class="icon-map"></i></p>
            <h5 style="">Map</h5>
            <p>Tak perlu lagi takut tersesat, satu tombol klik dan kamu akan langsung di arahkan ke lokasi kuliner tujuan.</p>
         </div>
         <div class="col-12 col-md-6 col-xl-4 feature-1">
            <p class="feature-icon text-info"><i class="icon-search"></i></p>
            <h5>Cari</h5>
            <p>Kamu bisa lebih mudah mencari Kuliner yang kamu inginkan dari postingan @hobimakan.banyuwangi. Dengan judul, deskripsi maupun kategori hashtag.</p>
         </div>
         <div class="col-12 col-md-6 col-xl-4 feature-1">
            <p class="feature-icon"><i class="text-danger icon-heart"></i></p>
            <h5>Rating & Populer</h5>
            <p>Temukan Kuliner yang punya Rating tertinggi maupun yang paling banyak disukai Folower @hobimakan.banyuwangi.</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}
{% block maps %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBem6H1KiKv7rBqyAAwdn0Xi9BB_FLOLNc&libraries=geometry"></script>
<script src="/static/js/infobox.js"></script>
<script>
   (function(A) {
       if (!Array.prototype.forEach)
           A.forEach = A.forEach || function(action, that) {
               for (var i = 0, l = this.length; i < l; i++)
                   if (i in this)
                       action.call(that, this[i], i, this);
           };

   })(Array.prototype);

   var mapObject;
   var markers = [];

   var mapOptions = {
       zoom: 11,
       center: new google.maps.LatLng(-8.187108, 114.302777),
       mapTypeId: google.maps.MapTypeId.ROADMAP,

       mapTypeControl: false,
       mapTypeControlOptions: {
           style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
           position: google.maps.ControlPosition.RIGHT_CENTER
       },
       panControl: false,
       panControlOptions: {
           position: google.maps.ControlPosition.RIGHT_CENTER
       },
       zoomControl: true,
       zoomControlOptions: {
           style: google.maps.ZoomControlStyle.LARGE,
           position: google.maps.ControlPosition.RIGHT_CENTER
       },
       scrollwheel: false,
       scaleControl: false,
       scaleControlOptions: {
           position: google.maps.ControlPosition.RIGHT_CENTER
       },
       streetViewControl: true,
       streetViewControlOptions: {
           position: google.maps.ControlPosition.RIGHT_CENTER
       },
       styles: [{
           "featureType": "landscape",
           "stylers": [{
               "hue": "#FFBB00"
           }, {
               "saturation": 43.400000000000006
           }, {
               "lightness": 37.599999999999994
           }, {
               "gamma": 1
           }]
       }, {
           "featureType": "road.highway",
           "stylers": [{
               "hue": "#FFC200"
           }, {
               "saturation": -61.8
           }, {
               "lightness": 45.599999999999994
           }, {
               "gamma": 1
           }]
       }, {
           "featureType": "road.arterial",
           "stylers": [{
               "hue": "#FF0300"
           }, {
               "saturation": -100
           }, {
               "lightness": 51.19999999999999
           }, {
               "gamma": 1
           }]
       }, {
           "featureType": "road.local",
           "stylers": [{
               "hue": "#FF0300"
           }, {
               "saturation": -100
           }, {
               "lightness": 52
           }, {
               "gamma": 1
           }]
       }, {
           "featureType": "water",
           "stylers": [{
               "hue": "#0078FF"
           }, {
               "saturation": -13.200000000000003
           }, {
               "lightness": 2.4000000000000057
           }, {
               "gamma": 1
           }]
       }, {
           "featureType": "poi.business",
           "stylers": [{
               visibility: "off"
           }]
       }]
   };
   var
       marker;
   mapObject = new google.maps.Map(document.getElementById('map_home'), mapOptions);

   $.ajax({
       type: "GET",
       url: "/getmaps",
       async: true,
       global: 'false',
       headers: {
           Accept: 'application/json'
       },
       dataType: 'json',

       success: function(data) {
           markersData = {
               'Restaurants': data
           };

           for (var key in markersData) {
               markersData[key].forEach(function(item) {
                   var sicon = "/static/default.png";
                   var image = {
                       url: sicon,
                       scaledSize: new google.maps.Size(35, 35), // scaled size
                       origin: new google.maps.Point(0, 0), // origin
                       anchor: new google.maps.Point(0, 0) // anchor
                   };

                   marker = new google.maps.Marker({
                       position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                       map: mapObject,
                       icon: image,
                   });
                   if ('undefined' === typeof markers[key])
                       markers[key] = [];
                   markers[key].push(marker);
                   google.maps.event.addListener(marker, 'click', (function() {
                       closeInfoBox();
                       getInfoBox(item).open(mapObject, this);
                       mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                   }));

               });
           };



       }
   });




   function hideAllMarkers() {
       for (var key in markers)
           markers[key].forEach(function(marker) {
               marker.setMap(null);
           });
   };

   function closeInfoBox() {
       $('div.infoBox').remove();
   };
   //Current+Location
   function getInfoBox(item) {
       var desc = ""; 
       return new InfoBox({
           content: '<div class="marker_info" id="marker_info">' +
               '<img src="' + item.map_image_url + '" alt=""/><br>' +
               '<span>' +
               '<h3>' + item.name_point + '</h3>' +
               '<em>' + item.type_point + '</em>' +
               '<a href="' + item.url_detail + '" class="btn_infobox_detail"></a>' +
               '<form action="http://maps.google.com/maps" method="get" target="_blank"><input name="saddr" value="My Location" type="hidden"><input type="hidden" name="daddr" value="' + item.location_latitude + ',' + item.location_longitude + '"><button type="submit" value="Buka Maps" class="btn_infobox_get_directions">Buka Maps</button></form>' +
               '<a href="#" class="btn_infobox_status">' + item.address + '</a><br>' +
               '<a href="#" class="btn_infobox_time">' + item.hours + '</a>' +
               '</span>' +
               '</div>',
           disableAutoPan: false,
           maxWidth: 0,
           pixelOffset: new google.maps.Size(10, 115),
           closeBoxMargin: '5px -28px 0 0',
           closeBoxURL: "/static/close_infobox.png",
           isHidden: false,
           alignBottom: true,
           pane: 'floatPane',
           enableEventPropagation: true
       });
   };

   function onHtmlClick(location_type, key) {
       google.maps.event.trigger(markers[location_type][key], "click");
   }




   function writeAddressName(latLng) {
       var geocoder = new google.maps.Geocoder();
       geocoder.geocode({
           "location": latLng
       }, function(results, status) {
           if (status == google.maps.GeocoderStatus.OK)
               console.log(results[0].formatted_address);
           else
               console.log("Unable to retrieve your address" + "<br />");
       });
   }

   function geolocationSuccess(position) {
       var circles = [];
       var userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
       // Write the formatted address
       writeAddressName(userLatLng);
       var infoWindow = new google.maps.InfoWindow();
       var latlngbounds = new google.maps.LatLngBounds();
       var geocoder = geocoder = new google.maps.Geocoder();
       // Place the marker
       var myloc = new google.maps.Marker({
           map: mapObject,
           position: userLatLng,
           draggable: true,
           animation: google.maps.Animation.DROP
       });
       var circle = new google.maps.Circle({
           center: userLatLng,
           radius: 600,
           map: mapObject,
           fillOpacity: 0.1,
           strokeWeight: 0
       });
       for (var key in markers) {
           markers[key].forEach(function(marker) {
               if (google.maps.geometry.spherical.computeDistanceBetween(marker.getPosition(), circle.getCenter()) <= circle.getRadius()) {
                   marker.setVisible(true);
               } else {
                   marker.setVisible(false);
               }
           });
       }
       mapObject.fitBounds(circle.getBounds());
       mapObject.setZoom(17);
       circles.push(circle);

       google.maps.event.addListener(myloc, "click", function(e) {
           infoWindow.setContent("<b>Lokasi Kamu Sekarang</b>");
           infoWindow.open(mapObject, myloc);
       });
       
       google.maps.event.addListener(myloc, "dragend", function(e) {
           var lat, lng, address;
           geocoder.geocode({
               'latLng': myloc.getPosition()
           }, function(results, status) {
               if (status == google.maps.GeocoderStatus.OK) {
                   for (var i in circles) {
                       circles[i].setMap(null);
                   }
                   circles = [];
                   lat = myloc.getPosition().lat();
                   lng = myloc.getPosition().lng();
                   var userLatLng = new google.maps.LatLng(lat, lng);
                   var circle = new google.maps.Circle({
                       center: userLatLng,
                       radius: 600,
                       map: mapObject,
                       fillOpacity: 0.1,
                       strokeWeight: 0
                   });
                   for (var key in markers) {
                       markers[key].forEach(function(marker) {
                           if (google.maps.geometry.spherical.computeDistanceBetween(marker.getPosition(), circle.getCenter()) <= circle.getRadius()) {
                               marker.setVisible(true);
                           } else {
                               marker.setVisible(false);
                           }
                       });
                   }
                   mapObject.fitBounds(circle.getBounds());
                   mapObject.setZoom(17);
                   circles.push(circle);
                   
               }
           });
       });




   }

   function geolocationError(positionError) {
       document.getElementById("error").innerHTML += "Error: " + positionError.message + "<br />";
   }

   function geolocateUser() {
       // If the browser supports the Geolocation API
       if (navigator.geolocation) {
           var positionOptions = {
               enableHighAccuracy: true,
               timeout: 10 * 1000 // 10 seconds
           };
           navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError, positionOptions);
       } else
           document.getElementById("error").innerHTML += "Your browser doesn't support the Geolocation API";
   }

   window.onload = geolocateUser; 
</script>
{% endblock %}
