amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.0.0
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
Django==1.8.18
django-appconf==1.0.2
django-compressor==2.2
django-debug-toolbar==1.9.1
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-htmlmin==0.10.0
django-taggit==0.22.2
easy-thumbnails==2.5
futures==2.2.0
html5lib==1.0.1
idna==2.6
instagram-scraper==1.5.26
kombu==4.1.0
Pillow==5.0.0
pkg-resources==0.0.0
psycopg2==2.7.3.2
pytz==2018.3
rcssmin==1.0.6
requests==2.20.0
rjsmin==1.0.12
simplejson==3.13.2
six==1.11.0
sqlparse==0.2.4
tqdm==4.19.9
urllib3==1.22
uWSGI==2.0.15
vine==1.1.4
webencodings==0.5.1
