      <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
         <div class="container">
            <div class="topbar-left"> 
               <button class="topbar-toggler">&#9776;</button>
               <a class="topbar-brand" href="/">
               <img class="logo-default custom-logo" src="/static/logo-new.webp" alt="logo">
               <!--<img class="logo-inverse" src="/static/logo-light.png" alt="logo">-->
               </a>
            </div>
            <div class="topbar-right">
               <ul class="topbar-nav nav">
                  <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/hobimakan.banyuwangi/">Follow @hobimakan.banyuwangi</a></li>
               </ul>
            </div>
         </div>
      </nav>
