.custom-logo {
    max-height: 100px !important;
    margin-top:20px !important; 
    background-color: rgba(255,255,255,0.98);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.06);
    box-shadow: 0 0 15px rgba(0,0,0,0.06);
    -webkit-transition: margin-left .5s, background-color .5s;
    transition: margin-left .5s, background-color .5s;
    border-radius: 15px;
}    

.h-overflow {
    overflow-x: hidden !important;
    overflow-y: hidden !important;

}

.full-height {height:100%;}
.row-height{
    height:100%;
    min-height:100%;
}
.map-right{
    height:100%;
    min-height:100%;
	padding:0px;
}
.content-left{
    height:100%;
    min-height:100%;
	overflow-y:scroll;
	padding:60px 30px 30px 30px;
	background-color:#fff;
	border-right: 1px solid #ededed;
}
#map{
	width:100%;
	height:100%;
}
#collapseFiltesmap .filter_type{
	clear:both;
	width:100%;
	border-top: 1px solid #ddd;
}
#collapseFiltesmap .filter_type .range_wp{
	float:left;
	width:80%;
	padding-left:30px;
	padding-bottom:20px;
	padding-top:5px;
}
#collapseFiltesmap .filter_type h6{
	float:left;
	width:20%;
	border:0;
	padding-top:10px;
}
#collapseFiltesmap .filter_type ul{
	float:left;
	width:80%;
	margin:0 0 15px 0;
	padding:0;
	padding-top:20px;
}
#collapseFiltesmap .filter_type ul li {
	display:inline-block;
	min-width:190px;
	margin-left:45px;
}
#collapseFiltesmap .filter_type ul li label{
	font-weight:normal;
	font-size:13px;
}
.infoBox {padding-right:45px !important;}
.marker_info {
    width: 240px;
    height: 300px;
    border-radius: 5px;
	text-align:left;

	margin-left:60px;
	background: #000;
    background: rgba(0, 0, 0, 0.85);
    position: relative;
    z-index: 9999999;
	font-family:"woodfordbourne-regular", Arial, sans-serif;
}
.marker_info img {
    display: block;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.marker_info h3 {
	font-size:14px;
	line-height:1.1;
	font-weight:500;
	text-transform:uppercase;
	margin-bottom:0;
		color:#fff;
}
.marker_info em {
	margin-bottom:10px;
	display:inline-block;
	font-size:12px;
	color:#999;
}
.marker_info span {
    display: block;
    padding: 0px 20px;
    font-size: 13px;
	line-height:1.2;
	color:#fff;
	margin-bottom:15px;
	position:relative;
}
.marker_info span strong{
	display:block;
	font-weight:500;
	margin-bottom:10px;
}


a.btn_infobox_detail{
	position:absolute;
	top:-5px;
	right:15px;
	width:20px;
	height:20px;
}
a.btn_infobox_detail:before, .btn_infobox_get_directions:before, a.btn_infobox_phone:before, a.btn_infobox_status:before, a.btn_infobox_time:before {
	 font-style: normal;
  font-weight: normal;
  font-family: "ElegantIcons";
  font-size:20px;
  cursor:pointer;
}
a.btn_infobox_detail:before{
  content: "\70";
  color:#fff;
}
.btn_infobox_get_directions, a.btn_infobox_phone, a.btn_infobox_status, a.btn_infobox_time {
	border:none;
	display:inline-block;
	font-weight:500;
	color:#FC0;
	background:none;
	cursor:pointer;
	font-size:13px;
	position:relative;
	padding-left:20px;
	margin-top:10px;
	outline:none;
}
.btn_infobox_get_directions:hover, a.btn_infobox_phone:hover, a.btn_infobox_status:hover, a.btn_infobox_time:hover {color:#fff;}
.btn_infobox_get_directions:before{
  font-size:14px;
  content: "\e080";
  position:absolute;
  left:0;
  top:0;
}
a.btn_infobox_status:before{
  font-size:14px;
  content: "\70";
  position:absolute;
  left:0;
  top:-2px;
}

a.btn_infobox_time:before{
  font-size:14px;
  content: "\7d";
  position:absolute;
  left:0;
  top:-2px;
}

a.btn_infobox_phone:before{
  font-size:14px;
  content: "\e090";
  position:absolute;
  left:0;
  top:-2px;
}

#filters_map{
	border-bottom:1px solid #ededed;
	margin:0 -30px 30px -30px;
	background-color:#f8f8f8;
	padding:15px 30px 0 30px;
}
a.btn_filter{
	padding:5px;
	background-color:#fff;
	border:1px solid #ededed;
	display:inline-block;
	line-height:1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:15px;
}
a.btn_filter:before{
	font-size:30px;
	color:#999;
	padding:0;
}
a.btn_filter#open_filters:before{
	font-family: "ElegantIcons";
  	content: "\66";
}
a.btn_filter#list:before{
	font-family: "ElegantIcons";
  	content: "\64";
	font-size:22px;
}
a.btn_filter#grid, a.btn_filter#list{
	margin-top:5px;
}
a.btn_filter#grid:before{
  	font-family: "ElegantIcons";
	content: "\e025";
	font-size:20px;
}
a.btn_filter#grid{
	margin-right:5px;
}
